body {
  margin: 10% 20%;
}

.container {
  border: 1px solid black;
  padding: 40px;
  position: relative;
  width: 500px;
  border-radius: 10px;
}

.consultar {
  padding: 20px;
  text-align: center;
}

.time {
  position: absolute;
  right: 10px;
  top: 10px;
}
