body {
  margin: 10% 20%;
}

.container {
  border: 2px solid black;
  padding: 60px 40px 20px 40px;
  position: relative;
  width: 350px;
  border-radius: 10px;
}

.margen_td {
  width: 70px;
}

.mensajes {
  text-align: center;
  color: blue;
  font-weight: bold;
  padding: 20px;
}

.consultar {
  text-align: center;
}

.time {
  position: absolute;
  left: 10px;
  top: 10px;
}

.logo {
  position: absolute;
  right: 50px;
  top: 50px;
}

.imagen {
  width: 50px;
}
